*.o
*.a
*.prl
*~
*.orig
*.rej
*.bak
*.obj
moc_*
qrc_*
*.moc
*.user*
Makefile
core
*.so
*.pc
*.qmlc
*.jsc
*.pch
*.log
*.diff
*.user
*.patch
*_unity_*.cpp
*.cmake
!cmake/*.cmake
*.cmake.installed

CMakeFiles
bin
imports
facelift_generated

examples/launch-*.sh
CMakeCache.txt
doc/doxygen.cfg
test/test-property
